/*Variables*/
:root {
  --primary-color: #0c2a53;
  --secondary-color: #308996;
  --tertiary-color: #d73d23;
}
/*Varables End*/

/*Browser Styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*End Broswer Styling*/

/*Body Styling*/
body {
  background-color: var(--primary-color);
  font-family: "Open Sans", sans-serif;
}
/*Body End*/

/* Header Start */
header {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

header img {
  width: 20%;
  height: 20%;
}

.header-text {
  text-align: center;
}

header h1 {
  color: #f3ddb3;
  font-size: 50px;
}

header h2 {
  color: #d73d23;
  font-size: 40px;
}

/*Header End*/

/*Main Styling*/
main {
  background-image: url(../images/potentialback.png);
  background-size: cover;
}

.exercise-description {
  border-bottom: var(--tertiary-color) solid 3px;
}

.button-div,
.exercise-template {
  background-color: var(--secondary-color);
}

.button-div {
  text-align: center;
  padding-right: 10px;
}

#goback-btn {
  background: lightgray;
}

main a :hover {
  color: var(--tertiary-color);
}
/*Main End*/

/* Media Queries */
@media screen and (max-width: 640px){
  .button-exercise-div{
    flex-direction: column;
  }

  .button-div{
    /* margin-left: 8% */
    width: 100%;
  }

  .exercise-template{
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 575px) {
  header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
/* Media Queries End */
