/*variables*/
:root {
    --primary-color: #0C2A53;
    --secondary-color: #308996;
    --tertiary-color: #D73D23;
    --quarternary-color: #EEA66D;
}
/*varables end*/

/*browser styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*end broswer styling*/

  /*body styling*/
body{
      background-color: var(--primary-color);
      font-family:'Open Sans', sans-serif;
  }
  /*body end*/


/* Header Start */

header {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

header img {
  width: 20%;
  height: 20%;
}

.header-text {
  text-align: center;
}

header h1 {
  color: #F3DDB3;
  font-size: 50px;
}

header h2 {
  color: #D73D23;
  font-size: 25px;
}

.about-section {
  background-color: var(--secondary-color);
  padding-bottom: 100px;
  align-self: center;
  padding: 10px 10px 10px 10px;
}

.search-exercise-div {
  padding-top: 100px;
}

#target-btn {
  text-align: center;
  background: lightgray;
}




  /*main styling*/
  /* main{ */
      /*trying to make the main have some distinction since I can't an opaque background image*/
    /* background-color: rgba(12, 42, 83, .5); */
    /* border-radius: 10px;
  } */

  /* .title, .tag-line, .exercise-title {
      color: var(--tertiary-color);
  } */

  .quote-container {
      border-bottom: var(--quarternary-color) solid 1px;
      padding-bottom: 10px;
  }

  .search, .results {
      background-color: var(--secondary-color);
  }

  .description{
    border-bottom: var(--quarternary-color) solid 1px;
}

  #search-btn{
    background-color: var(--tertiary-color);
  }
  /*main end*/