/*Variables*/
:root {
  --primary-color: #0c2a53;
  --secondary-color: #308996;
  --tertiary-color: #d73d23;
  --quarternary-color: #eea66d;
}
/*Varables End*/

/*Browser Styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*End Broswer Styling*/

/*Body Styling*/
body {
  background-color: var(--primary-color);
  font-family: "Open Sans", sans-serif;
}
/*Body End*/

/* Header Start */
header {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

header img {
  width: 20%;
  height: 20%;
}

.header-text {
  text-align: center;
}

header h1 {
  color: #f3ddb3;
  font-size: 50px;
}

header h2 {
  color: #d73d23;
  font-size: 25px;
}

.about-section {
  background-color: var(--secondary-color);
  padding-bottom: 100px;
  align-self: center;
  padding: 10px 10px 10px 10px;
}

.search-exercise-div {
  padding-top: 70px;
}
/*Header End*/

/*Main Styling*/
main {
  background-image: url(../images/potentialback.png);
  background-size: cover;
}

.fav-container,
.search, .results {
  background-color: var(--secondary-color);
}

.search :hover {
  color: var(--tertiary-color);
}

.exerciseList :hover {
  color: var(--primary-color);
}

.fav-btn {
  margin-left: 30px;
}

#target-abs,
#target-arms,
#target-legs {
  text-align: center;
  background: lightgray;
}
/*Main End*/
